.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-day {
    width: 2.4rem;
    height: 2.4rem;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: background-color 0.2s, color 0.2s;
    margin-right: auto !important;
    margin-left: auto !important;
    display: block;
}

.calendar-day:hover {
    background-color: #0b622f2d;
    cursor: pointer;
}

.bg-primary-vp {
    background: linear-gradient(3deg, #0B622F, #18934B) !important;
}

.cursor-pointer {
    cursor: pointer;
}

.year-dropdown,
.month-dropdown {
    z-index: 1000;
}

.calc-header-st {
    background: linear-gradient(3deg, #0B622F, #18934B) !important;
    padding: 15px !important;
    color: white;
}

.text-primary-st {
    color: #0B622F;
}

.main-calc-st {
    display: flex;
    background: white;
    padding: 18px;
    height: calc(100% - 48px);
    border-radius: 6px;
}

.btn-primary-vp {
    background: linear-gradient(3deg, #0B622F, #18934B) !important;
    color: white;
    padding: 6px 32px;
    border-radius: 6px;
}

.btn-events:hover {
    background: linear-gradient(3deg, #0B622F, #18934B) !important;
    color: #fff !important;
}

.danger-hover:hover {
    color: rgb(239, 40, 40) !important;
    font-weight: 600;
}

.calc-select-ba {
    width: 50%;
}

.time-ranges-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.time-row {
    display: flex;
    align-items: center;
    gap: 30px;
}

.label {
    width: 120px;
    font-weight: 500;
    color: #333;
}

.time-inputs {
    display: flex;
    gap: 16px;
}

.react-time-picker {
    width: 100px;
}

.react-time-picker__wrapper {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

