.profile-button {
    border: 1px solid #05823a;
    padding: 8px 35px;
    color: #ffffff;
    border-radius: 8px;
    background: linear-gradient(#158845, #0e6b34);
}

.profile-button:hover {
    background: linear-gradient(#0e6b34, #158845) !important;
}

.assign-box-st {
    min-height: 168px;
    min-width: 142px;
}

.assign-subbox-st {
    padding: 12px;
    background: radial-gradient(rgb(255, 255, 255), #f0fff6);
    border-radius: 24px 0px;
    color: #05823a;
    box-shadow: 0px 2px 5px -2px;
    position: relative;
}

.assign-subbox-st:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease-in-out;
    background: radial-gradient(#158845, #0e6b34) !important;
    cursor: pointer;
    color: #fff !important;
}


.allpages-main-ap {
    padding: 12px 24px;
    color: #05823a;
    font-weight: 500;
}

.assign-icon-ap {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    height: 80%;
    width: 80%;
    left: 0px;
    bottom: 10px;
    opacity: 0.05;
}

.menu-name {
    z-index: 10;
    font-weight: 600;
    text-transform: uppercase;
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    width: 100%;
}

.assign-body-list-lft {
    width: 35%;
    min-width: 322px;
    height: 100%;
    overflow-y: auto;
}

.assign-body-list-rit {
    width: 65%;
    min-width: 472px;
    height: 100%;
    overflow-y: auto;
}

.assign-body-list-rit,
.assign-body-list-lft {
    background: white;
    border-radius: 10px;
}

.assign-pro-ap {
    display: flex;
    gap: 18px;
    height: calc(100% - 24px);
}

.innerbody-header-ap {
    height: 52px;
    background: radial-gradient(#158845, #0e6b34) !important;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: start;
    box-shadow: 0px 1px 3px 0px #7c7c7c;
    padding: 12px;
}

.innerbody-body-ap {
    height: calc(100% - 62px);
    overflow: auto;
}

.emp-listcont-st {
    border-bottom: 1px solid #f3f3f3;
    padding: 14px;
}

.emp-checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #106b41;
    border-radius: 6px;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    position: relative;
    margin: 0;
}

.emp-checkbox:checked {
    background-color: #106b41;
}

.emp-checkbox:checked::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 6px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.emp-label {
    font-weight: 500;
}

.common-style-cb {}

.custom-form-check {
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 120px;
    cursor: pointer;
}

.custom-checkbox-ap {
    width: 20px;
    height: 20px;
    border: 1px solid #05823a;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    position: relative;
    cursor: pointer;
    background-color: #fff;
    display: block !important;
}

.custom-checkbox-ap:checked {
    background-color: #fff;
    border: 1px solid #05823a;
}

.custom-checkbox-ap:checked::after {
    content: '';
    position: absolute;
    left: 10px;
    top: -4px;
    width: 6px;
    height: 16px;
    border: 1px solid #05823a;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    background: white;
}

.filter-container-up {
    position: relative;
    display: inline-block;
}

.dropdown-up {
    position: absolute;
    top: 110%;
    right: 0;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    width: 145px;
    overflow: hidden;
}

.dropdown-header-up {
    background-color: #066333;
    color: white;
    padding: 8px;
    text-align: center;
}

.dropdown-list-up {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-item-up {
    padding: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.dropdown-item-up:hover {
    background-color: #f2f2f2;
}



@media (max-width: 1024px) {
    .assign-icon-ap {
        left: 10px !important;
    }
}